body {
	background-color: #f5f5dc;
}

div {
	min-height: 20px;
	line-height: 20px;
	display: block;
	white-space: pre;

}

#screen * {
	font-size: 18px;
	font-family: monospace;
}

#screen {
	width:80%;
	margin: 100px auto;
}
