{% extends "base.html" %}

{% block title %}{{ story_title }}{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/logger.js') }}"></script>
<script src="{{ url_for('static', filename='js/audioHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/sceneHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/animations.js') }}"></script>
{% if audio_library %}
<script src="{{ url_for('static', filename='js/audio_library.js') }}"></script>
{% endif %}
<script src="{{ url_for('serve_story_js', story_name=story_name, filename=story_js) }}"></script>
<script src="{{ url_for('static', filename='js/director.js') }}"></script>
{% endblock %} 